body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #444444;
  color: white;
  box-sizing: border-box;
  font-size: 30px;
}
header {
  background-color: #333333;
  width: 88%;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #111111;
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;
  }
header > div {
  flex: 1;
  text-align: center;
}
.black{
  background-color: #333333;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
}
.red{
  background-color: #FF6961;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: white;
}
section {
  background-color: #333333;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
  color: #FF6961;
  margin: 20px auto;
  box-shadow: 1px 1px 10px rgb(250,80,80), 2px 2px 20px #333333;
}
article {
  background-color: #222222;
  color: white;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  text-shadow: none;
}
footer {
  font-size: 23px;
  text-align: center;
  background-color: #333333;
  padding: 20px;
  min-height: 100%;
}
span.footer {
  color: grey;
  font-weight: 100;
}
.selected:hover {
  color: #333333;
  cursor: pointer;
}
a:hover {
  color: #FF6961;
  cursor: pointer;
}
span {
  font-weight: 700;
  color: #FF6961;
}
section h1 {
  font-variant: small-caps;
}
main {
  flex-grow: 1;
}
span a {
  color: grey;
}
span a:hover {
  color: grey;
  font-weight: 900;
  cursor: default;
}
